  <h2><a href="/details/<%=details.id%>"><%=details.title%></a></h2>
  <% if(details.images !== null && details.images.hasOwnProperty('image')) { %>
    <% if(Array.isArray(details.images.image)) { %>
      <img src="<%=details.images.image[0].small.url%>"/>
    <%  } else{ %>
      <img src="<%=details.images.image.small.url%>"/>
    <%  } %>
 <% }; %>
  <h3><%=details.price%></h3>
  <h3><%=details.start_time%> - <%=details.stop_time%> <a href="<%=details.venue_url%>"><%=details.venue_name%></a></h3>
  <h3><%=details.address%> <%=details.city%>, <%=details.region_abbr%> <%=details.postal_code%></h3>
  <h3><%=details.description%></h3>


  <form action="/details/save" method="POST" id="save">
    <input type="hidden" name="title" value="<%=details.title%>">
    <input type="hidden" name="venue" value="<%=details.venue_name%>">
    <input type="hidden" name="city" value="<%=details.city%>">
    <input type="hidden" name="state" value="<%=details.region_abbr%>">
    <input type="hidden" name="zip" value="<%=details.postal_code%>">

    <input type="hidden" name="lat" value="<%=details.latitude%>">
    <input type="hidden" name="long" value="<%=details.longitude%>">
      <% if (details.links !== null) { %>
        <% if(Array.isArray(details.links.link)) { %>
          <input type="hidden" name="url" value="<%=details.links.link[0].url%>">
        <%} else { %>
          <input type="hidden" name="url" value="<%=details.links.link.url%>">
        <% } %>
      <% } %>
    <button type="submit">Buy</button>
  </form>

<div class="map"></div>

<h2>Restaurants Nearby</h2>
<% restaurants.results.forEach(function(restaurant) { %>
  <h4><%=restaurant.name%></h4>
  <p>Google Rating: <%=restaurant.rating%></p>
  <p>Categories:<%restaurant.types.forEach(function(type) { %>
    <span><%=type%>, </span>
    <% }); %>
    </p>
<% }); %>
