    <div class="details-row-first">
      <h2><%=details.title%></h2>
      <% if(details.images !== null && details.images.hasOwnProperty('image')) { %>
        <% if(Array.isArray(details.images.image)) { %>
          <img src="<%=details.images.image[0].small.url%>"/>
        <%  } else{ %>
          <img src="<%=details.images.image.small.url%>"/>
        <%  } %>
      <% }; %>
    </div>
    <div class="details-container">
  <div class="details">

    <div class="details-row-2-columns">
      <div class="column-top">
        <h3><%=details.price%></h3>
        <h4><%=details.venue_name%> - <%=moment(details.start_time, 'YYYY-MM-DD hh:mm:ss').format('M/DD/YY h:mm a');%></h4>
        <p><%=details.address%> <%=details.city%>, <%=details.region_abbr%> <%=details.postal_code%></p>
        <p><%=details.description%></p>

        <form action="/details/save" method="POST" id="save">
          <input type="hidden" name="title" value="<%=details.title%>">
          <input type="hidden" name="venue" value="<%=details.venue_name%>">
          <input type="hidden" name="city" value="<%=details.city%>">
          <input type="hidden" name="state" value="<%=details.region_abbr%>">
          <input type="hidden" name="zip" value="<%=details.postal_code%>">

          <input type="hidden" name="lat" value="<%=details.latitude%>">
          <input type="hidden" name="long" value="<%=details.longitude%>">
            <% if (details.links !== null) { %>
              <% if(Array.isArray(details.links.link)) { %>
                <input type="hidden" id="url" name="url" value="<%=details.links.link[0].url%>">
              <%} else { %>
                <input type="hidden" id="url" name="url" value="<%=details.links.link.url%>">
              <% } %>
            <% } %>
          <button type="submit" id="save">Buy</button>
        </form>
      </div>

      <div class="column">
        <div id="map"></div>
      </div>
    </div>

    <div class="restaurants-div">
      <div class="details-row">
        <h2>Restaurants Nearby</h2>
      </div>

      <div class="restaurants">
        <% restaurants.results.forEach(function(restaurant) { %>
          <div class="restaurant-instance">
            <div class="restaurants-row">
              <h4><%=restaurant.name%></h4>
              <% if(restaurant.rating){ %>
                <p>Google Rating: <%=restaurant.rating%></p>
              <% } %>
            </div>
              <p>Categories:<%restaurant.types.forEach(function(type) { %>
                <span><%=type%>, </span>
                <% }); %>
                </p>
          </div>
        <% }); %>
      </div>
    </div>


  </div>
</div>

<script>
  function initMap() {
  // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%=details.latitude%>, lng: <%=details.longitude%>},
      scrollwheel: false,
      zoom: 14
    });

    var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

    var showPlace = new google.maps.Marker({
      position: new google.maps.LatLng(<%=details.latitude%>, <%=details.longitude%>),
        map:map,
        title: 'Show Venue',
        icon: image
    });

    showPlace.addListener('click', function(){
      var infoWindow = new google.maps.InfoWindow({ content: '<h3>' + showPlace.title +  '</h3>' });
      infoWindow.open(map, showPlace);
    });

    var restaurants = <%-JSON.stringify(restaurants)%>;
    restaurants.results.forEach(function(place, idx){
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(place.geometry.location.lat, place.geometry.location.lng),
          map: map,
          title:place.name + " " + place.vicinity
      });

      marker.addListener('click', function(){
        var infoWindow = new google.maps.InfoWindow({ content: '<p>' + marker.title +  '</p>' });
        infoWindow.open(map, marker);
      });
    });
  };
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUGysiULRm4y1wOrG5wRk7CFaNl0GLWr4&callback=initMap"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/af.js"></script>
