<h2 class="header-left">Profile</h2>
<h3 class="header-left">Record of Shows</h3>
<% info.shows.forEach(function(show) { %>
<div class="profile">
  <h2><a href="/details/<%=show.id%>"><%=show.title%></a></h2>
  <h3><%=show.venue%> - <%=show.city%>, <%=show.state%> <%=show.zip%></h3>
  <button class="profile-button"><a href="<%=show.url%>" target="_blank">Info</a></button>
  <button class="delete" type="submit" href="/delete/<%=show.id%>">Delete</button>
</div>
<% }); %>
