<h1> Results for <%=search%></h1>
<%events.events.event.forEach(function(instance) { %>
  <h2><a href="/details/<%=instance.id%>"><%=instance.title%></a></h2>
 <h3><%=instance.start_time%>, <a href="<%=instance.venue_url%>"><%=instance.venue_name%></a></h3>
  <h3><%=instance.venue_address%> <%=instance.city_name%>, <%=instance.region_abbr%> <%=instance.postal_code%></h3>
  <h3><%=instance.description%></h3>
  <% }); %>


