<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/ar-tn.js"></script>
<div class="results-container">
  <div class="results">
    <h1 class="results-h1"> Results for <%=search%></h1>
      <%events.events.event.forEach(function(instance) { %>
      <div class="results-instance">
        <div class="results-row">
          <h2 class="results-h2"><a href="/details/<%=instance.id%>"><%=instance.title%></a></h2>
          <% if(instance.image !== null) { %>
            <img class="results-img" src="<%=instance.image.small.url%>"/>
          <% }; %>
        </div>
        <!-- moment takes date and formats it properly -->
        <h3 class="results-h3"><%=instance.venue_name%> - <%=moment(instance.start_time, 'YYYY-MM-DD hh:mm:ss').format('M/DD/YY h:mm a');%></h3>
        <h3 class="results-h3"><%=instance.venue_address%> <%=instance.city_name%>, <%=instance.region_abbr%> <%=instance.postal_code%></h3>
        <p class="results-h3"><span class="indent"></span><%=instance.description%></p>
        </div>
      <% }); %>
  </div>
</div>

